#onescreen {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 2rem;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  line-height: 1.6;
  height: 100%;
  box-sizing: border-box;
  color: #FFF;
  font-family: "Roboto Mono";
  text-align: left;
  font-size: 5rem;
  background: #43A047;
}

#logo {
  position: absolute;
  margin: 0.5rem;
  bottom: 0;
  right: 0;
}

a {
  color: #00F;
  text-decoration: underline;
}

a:hover {
  color: #0000AF;
}
